h1 {
    color: black;
    text-align: center;
}
h2{
    color: yellowgreen;
    text-align: center;
}
body {
    background-color: grey;
}
button{
    background-color: black;
    color: beige;
    text-align: center;
    text-size-adjust: h2;
    align-self: center;
}
.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  /* @media  (max-width: 500px) {
    .column {
      width: 100%;
    }
    h1{
      size: 3.5rem;
    }
    h2{
      size: 2.5rem;
    }
  } */